-
  var data = [
    {
    name: "Листовой прокат",
    items: [
    "Лист металлический",
    "Лист нержавеющий",
    "Лист стальной",
    "Лист конструкционный",
    "Лист окрашенный",
    "Лист низколегированный",
    "Лист оцинкованный",
    "Бронелисты (бронесталь, броневой лист)",
    "Лист просечно-вытяжной ПВЛ",
    "Лист перфорированный",
    "Лист перфорированный",
    "Лист перфорированный",
    "Лист перфорированный",
    ],
    quantity: 250000,
    image: "rolled_sheet.png"
    },

    {
    name: "Трубопроводная арматура",
    items: [
    "Запорная арматура",
    "Опоры трубопроводов",
    "Соединительные детали и элементы трубопровода",
    "Трубопроводная арматура в изоляции (ППУ, ВУС, ЦПП, ППМ)",
    "Обечайки",
    ],
    quantity: 250000,
    image: "pipe_fittings.png"
    },

    {
    name: "Трубный прокат",
    items: [
    "Трубы стальные",
    "Трубы нержавеющие",
    "Трубы профильные",
    "Трубы оцинкованные",
    "Трубы горячекатаные",
    "Трубы бесшовные",
    "Трубы медные",
    "Труба в изоляции",
    ],
    quantity: 250000,
    image: "rolled_pipe.png"
    },

    {
    name: "Буровое оборудование",
    items: [
    "Фрезеры буровые",
    "Элеваторы трубные",
    "Уровнемер скважинный",
    "Клин-отклонитель (для зарезки боковых стволов)",
    "Буровые коронки",
    "Буровые долота",
    "Замки бурильные",
    "Штропы",
    "Трубы бурильные (ТБСУ?)",
    "Ключи шарнирные КШС",

    "Буровые коронки",
    "Буровые долота",
    "Замки бурильные",
    "Штропы",
    "Трубы бурильные (ТБСУ?)",
    "Ключи шарнирные КШС",
    ],
    quantity: 250000,
    image: "drilling.png"
    },

    {
    name: "Металлические изделия",
    items: [
    "Канаты (тросы)",
    "Втулки металлические",
    "Проволока",
    "Отливки металлические ",
    "Цепи стальные",
    "Рентгенозащитные изделия (рентгенозащита)",
    "Аноды",
    ],
    quantity: 250000,
    image: "metal_products.png"
    },

    {
    name: "Кабельная продукция",
    items: [
    "Кабели силовые",
    "Кабели специальные",
    "Кабели соединительные",
    "Кабели транспортные",
    "Кабели монтажные ",
    "Кабели управления и контроля",
    "Кабели передачи данных",
    "Провод контактный",
    "Кабели универсальные",
    "Провода обмоточные",

    "Кабели управления и контроля",
    "Кабели передачи данных",
    "Провод контактный",
    "Кабели универсальные",
    "Провода обмоточные",
    ],
    quantity: 250000,
    image: "cables.png"
    },

    {
    name: "Нержавеющий металлопрокат",
    items: [
    "Дробь нержавеющая",
    "Плиты нержавеющие",
    "Квадрат нержавеющий",
    "Поковки нержавеющие",
    "Круг (пруток) нержавеющий",
    "Полосы нержавеющие",
    "Ленты нержавеющие",
    "Проволока нержавеющая",
    "Листы нержавеющие",
    "Прутки нержавеющие",

    "Листы нержавеющие",
    "Прутки нержавеющие",
    ],
    quantity: 250000,
    image: "stainless.png"
    },

    {
    name: "Специальные стали и&nbsp;сплавы",
    items: [
    "Конструкционные стали",
    "Криогенная сталь",
    "Инструментальные стали",
    "Броневая сталь",
    "Жаропрочные стали",
    "Мостовая сталь",
    "Быстрорежущие стали",
    "Штамповая сталь",
    "Электротехнические стали",
    "Валковая сталь",
    "Пищевые нержавеющие стали",
    "Никельсодержащая сталь",
    "Судостроительная сталь",
    "Подшипниковая сталь",
    "Автоматные стали",
    "Фехраль",
    "Рессорно-пружинные стали",
    "Твердосплавная (Победитовая) сталь",
    "Кислотостойкая сталь",
    ],
    quantity: 250000,
    image: "special_steel.png"
    },

    {
    name: "Полимеры, АТИ, РТИ",
    items: [
    "Полиэтиленовые (ПЭ) изделия",
    "Винипласт (НПВХ) изделия",
    "Капролоновые (полиамид) изделия",
    "Фторопластовые изделия",
    "Полипропиленовые изделия (ПП)",
    "Полиацеталь изделия",
    "Листовой пластик",
    "Оргстекло",
    "Эбонитовые изделия",
    "Гетинакс",
    ],
    quantity: 250000,
    image: "polymers.png"
    },

    {
    name: "Черный металлопрокат",
    items: [
    "Горячекатаный прокат",
    "Холоднокатаный прокат",
    ],
    quantity: 250000,
    image: "ferro_rolled.png"
    },

    {
    name: "Сварочные материалы",
    items: [
    "Электроды",
    "Сварочный пруток",
    "Припои",
    "Сварочная лента (для металла)",
    "Сварочная проволока",
    "Порошок припоя",
    ],
    quantity: 250000,
    image: "welding.png"
    },

    {
    name: "Сортовой прокат",
    items: [
    "Арматура стальная",
    "Лист металлический",
    "Катанка",
    "Дробь металлическая",
    "Квадрат металлический",
    "Плиты металлические",
    "Круг металлический",
    "Поковка металлическая",
    "Лента металлическая",
    "Полоса металлическая",

    "Дробь металлическая",
    "Квадрат металлический",
    "Плиты металлические",
    "Круг металлический",
    "Поковка металлическая",
    "Лента металлическая",
    "Полоса металлическая",
    ],
    quantity: 250000,
    image: "sort_rolled.png"
    },

    {
    name: "Стальной прокат",
    items: [
    "Арматура стальная",
    "Лента стальная",
    "Дробь стальная",
    "Лист стальной",
    "Катанка стальная",
    "Плиты стальные",
    "Квадрат стальной",
    "Полоса стальная",
    "Круг стальной",
    "Проволока стальная",

    "Квадрат стальной",
    "Полоса стальная",
    "Круг стальной",
    "Проволока стальная",
    ],
    quantity: 250000,
    image: "steel_rolled.png"
    },

    {
    name: "Строительные материалы",
    items: [
    "ЖБИ",
    "Сетка металлическая",
    "Асбестоцементные изделия",
    ],
    quantity: 250000,
    image: "constr_materials.png"
    },

    {
    name: "Металлургическое сырье",
    items: [
    "Порошки металлические",
    "Металлическая дробь",
    "Поковки",
    "Металлы в гранулах",
    "Слитки и чушки",
    "Ферросплавы",
    ],
    quantity: 250000,
    image: "metal_raw.png"
    },

    {
    name: "Фасонный прокат",
    items: [
    "Двутавровые балки (Двутавры, Н- профиль)",
    "Шпунт Ларсена",
    "Полособульб",
    "Рельсы",
    "Тавры (Балка тавровая, T-профиль)",
    "Профильная труба",
    "Уголки металлические (Г или L профиль)",
    "ЛСТК профиль",
    "Швеллеры (П-профиль)",
    ],
    quantity: 250000,
    image: "shape_rolled.png"
    },

    {
    name: "Цветной металлопрокат",
    items: [
    "Алюминиевый прокат",
    "Дюралевый прокат",
    "Бронзовый прокат",
    "Золотой прокат",
    "Ванадиевый прокат",
    "Иридиевый прокат",
    "Вольфрамовый прокат",
    "Кобальтовый прокат",
    "Гафниевый прокат",
    "Латунный прокат",

    "Иридиевый прокат",
    "Вольфрамовый прокат",
    "Кобальтовый прокат",
    "Гафниевый прокат",
    "Латунный прокат",
    ],
    quantity: 250000,
    image: "nonferro_rolled.png"
    },

    {
    name: "Оцинкованный металлопрокат",
    items: [
    "Квадрат оцинкованный",
    "Полосы оцинкованные",
    "Круг оцинкованный",
    "Проволока оцинкованная",
    "Лента оцинкованная",
    "Профили оцинкованные",
    "Листы оцинкованные",
    "Профнастил оцинкованный",
    "Плиты оцинкованные",
    "Прутки оцинкованные",

    "Плиты оцинкованные",
    "Прутки оцинкованные",
    ],
    quantity: 250000,
    image: "galva_rolled.png"
    },

    {
    name: "Чугунный прокат",
    items: [
    "Круги чугунные",
    "Поковки чугунные",
    "Втулки чугунные",
    "Прутки чугунные",
    "Листы чугунные",
    "Дробь чугунная",
    "Плиты поверочные чугунные",
    "Люки чугунные",
    "Чушки (болванки или слитки) чугунные",
    "Дождеприемник чугунный",

    "Прутки чугунные",
    "Листы чугунные",
    "Дробь чугунная",
    "Плиты поверочные чугунные",
    "Люки чугунные",
    "Чушки (болванки или слитки) чугунные",
    "Дождеприемник чугунный",
    ],
    quantity: 250000,
    image: "castiron_rolled.png"
    },
  ]
