head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title= 'Каталог металлопроката'
    meta(name="description" content="Каталог металлопроката по виду продукции, виду металлопроката, а так же услуги и производство.")
    link(rel="icon" type="image/x-icon" href="images/rolled_sheet.png")
    link(rel="stylesheet" href="css/main.css")
    script(src="js/main.js" type='module')
