//- Информация о категориях и позициях
include includes/data

doctype html
html(lang="ru")
  include includes/head

  body
    .container
      section
        h1.header Каталог металлопроката
        include includes/tabs
        include includes/catalog
        include includes/showMoreBtn

